body {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

h2 {
  margin-left: 20px;
}

.query-button {
  display: none;
}



  
